{% extends "base.html" %} {% block content %}
  <!--NEW LOG POPUP-->
  <div
      class="popup"
      id="popup"
      style="display: none; opacity: 0; transition: all 200ms ease-out"
  >
    <form class="new-entry-wrapper">
      <div class="flex-horizontal card-title">
        <select class="emoji-container" name="emoji">
          <option value="happy">😊</option>
          <option value="angry">😡</option>
          <option value="sad">😔</option>
          <option value="sleepy">😴</option>
          <option value="loved">🥰</option>
          <option value="poop">💩</option>
          <option value="smart">🧠</option>
          <option value="celebrate">🥳</option>
        </select>
        <input
            type="text"
            placeholder="Enter title here..."
            class="title-entry"
            id="title-entry"
        />
      </div>
      {#
    <h2 class="underline">New entry</h2>
    #}
      <div class="flex-horizontal">
        <div class="input-section" style="margin-right: 2rem">
          <label for="headline">How did you feel today?</label>
          <input
              id="headline"
              name="headline"
              type="text"
              class="input"
              autocomplete="off"
          />
        </div>

        <div class="input-section">
          <label for="mood">How would you rate your day?</label>
          <input
              id="mood"
              name="mood"
              type="text"
              class="input"
              autocomplete="off"
          />
        </div>
      </div>

      <div class="text-area-section">
        <label for="description"
        >Description
          <span style="color: var(--secondary); font-size: 0.7rem"
          >(Optional)</span
          ></label
        >
        <textarea
            id="description"
            name="description"
            class="input text-area"
            autocomplete="off"
            style="height: 200px"
        ></textarea>
      </div>

      <button type="submit" class="button mt">Submit</button>
      <button
          class="button third"
          style="color: var(--secondary)"
          onclick="logNewEntryAnimation()"
      >
        Cancel
      </button>
    </form>
    <div class="popup-bg" onclick="logNewEntryAnimation()"></div>
  </div>

  <!----------------->

  <div class="width-wrapper">
    <div class="header">
      <div class="text-header">
        <h2>Diary log</h2>
        <!--make this dynamic later-->
        {% if entries | length == 0 %}
          <p style="color: var(--secondary)">No entries</p>
        {% elif entries | length == 1 %}
          <p style="color: var(--secondary)">1 entry</p>
        {% else %}
          <p style="color: var(--secondary)">{{ entries | length }} entries</p>
        {% endif %}
      </div>
      <button
          onclick="logNewEntryAnimation()"
          class="button"
          title="Add new entry"
      >
        + New entry
      </button>
    </div>

    {% for entry in entries %}
      <div class="entry">
        <div>
          <p>{{ entry.logTitle }}</p>
          <p style="color: var(--secondary)">{{ entry.logDate | format_date }}</p>
        </div>
        <a href="/details?id={{ entry.logId }}" class="button subtle" title="View details">Details</a>
      </div>
    {% endfor %}

    <div class="entry">
      <div>
        <p>Title of entry</p>
        <p style="color: var(--secondary)">13.04.2021</p>
      </div>
      <a href="/details" class="button subtle" title="View details">Details</a>
    </div>

    <div class="entry">
      <div>
        <p>Title of entry</p>
        <p style="color: var(--secondary)">13.04.2021</p>
      </div>
      <a href="/details" class="button subtle">Details</a>
    </div>

    <div class="entry">
      <div>
        <p>Title of entry</p>
        <p style="color: var(--secondary)">13.04.2021</p>
      </div>
      <a href="/details" class="button subtle">Details</a>
    </div>
  </div>

{% endblock %}
