{% extends "base.html" %} {% block content %}
<button
  onclick="location.href='/logout'"
  title="Log Out"
  class="button subtle logout"
>
  <img
    src="{{ url_for('static', filename='icons/logout.svg') }}"
    alt="Log out"
  />
</button>

<!--NEW LOG POPUP-->
<div
  class="popup"
  id="popup"
  style="display: none; opacity: 0; transition: all 200ms ease-out"
>
  <form method="POST" action="/submit-new-entry" class="new-entry-wrapper">
    <div class="card-title">
      <label>
        <select class="emoji-container" name="emoji" id="emoji">
          <option value="😊">😊</option>
          <option value="😔">😔</option>
          <option value="😰">😰</option>
          <option value="😡">😡</option>
          <option value="😴">😴</option>
          <option value="🥰">🥰</option>
          <option value="🥳">🥳</option>
          <option value="💩">💩</option>
          <option value="🧠">🧠</option>
          <option value="🌈">🌈</option>
          <option value="☀️">☀️</option>
        </select>
      </label>
      <label for="log-title"></label>
      <input
        type="text"
        name="log-title"
        autocomplete="off"
        placeholder="Enter title here..."
        class="title-entry"
        required
        id="log-title"
      />
    </div>
    <div class="flex-horizontal">
      <div class="input-section" id="feel-input">
        <label for="mood">How did you feel today?</label>
        <input
          id="mood"
          name="mood"
          required
          type="text"
          class="input"
          autocomplete="off"
        />
      </div>

      <div class="input-section" id="rating-input">
        <label for="rating">How would you rate your day?</label>
        <input
          id="rating"
          name="rating"
          type="number"
          class="input"
          min="0"
          max="10"
          placeholder="0-10"
          autocomplete="off"
          required
        />
      </div>
    </div>

    <div class="text-area-section">
      <label for="description"
        >Description
        <span style="color: var(--secondary); font-size: 0.7rem"
          >(Optional)</span
        ></label
      >
      <textarea
        id="description"
        name="description"
        class="input text-area"
        autocomplete="off"
        style="height: 200px"
      ></textarea>
    </div>

    <button type="submit" class="button mt">Submit</button>
    <button
      class="button third"
      type="button"
      style="color: var(--secondary)"
      onclick="logNewEntryAnimation()"
    >
      Cancel
    </button>
  </form>
  <div class="popup-bg" onclick="logNewEntryAnimation()"></div>
</div>

<!----------------->

<div class="width-wrapper">
  <div class="header">
    <div class="text-header">
      <h2>Diary entries</h2>
      <!--make this dynamic later-->
      {% if entries | length == 0 %}
      <p style="color: var(--secondary)">No entries</p>
      {% elif entries | length == 1 %}
      <p style="color: var(--secondary)">1 entry</p>
      {% else %}
      <p style="color: var(--secondary)">{{ entries | length }} entries</p>
      {% endif %}
    </div>
    <button
      id="new-entry-button"
      onclick="logNewEntryAnimation()"
      class="button"
      title="Add new entry"
    >
      <img
        class="icon-auth"
        src="{{ url_for('static', filename='icons/plus.svg') }}"
        alt="plus"
      />
      New entry
    </button>
  </div>
  {% if entries | length == 0 %}
  <div class="no-entries">No entries found 💩</div>
  {% else %} {% for entry in entries %}
  <a class="entry" id="{{ entry.logId }}" href="/details/{{ entry.logId }}">
    <div class="entry-details">
      <div class="emoji">{{ entry.logEmoji }}</div>
      <div>
        <p style="color: white">{{ entry.logTitle }}</p>
        <p style="color: var(--secondary)">{{ entry.logDate | format_date }}</p>
      </div>
    </div>
    <div class="button subtle" title="View details">Details</div>
  </a>
  {% endfor %} {% endif %} {% endblock %}
</div>
