{% extends'base.html' %} {% block content %}
<button
  onclick="location.href='/logout'"
  title="Log Out"
  class="button subtle logout"
>
  <img
    src="{{ url_for('static', filename='icons/logout.svg') }}"
    alt="Log out"
  />
</button>
<div class="details-wrapper">
  <div class="header" style="margin-bottom: 1rem;">
    <div style="display: flex; flex-direction: row">
      <div class="emoji-details">{{ entry_data.logEmoji }}</div>
      <div class="text-header">
        <h2>{{ entry_data.logTitle }}</h2>
        <p style="color: var(--secondary); line-height: 1">
          {{ entry_data.logDate | format_date }}
        </p>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row;">
    <div style="margin-right: 1rem;">
    <h4 class="answer-title">Mood:</h4>
    <p class="answer">{{ entry_data.logMood }}</p>
  </div>
  <div>
    <h4 class="answer-title">Day rating:</h4>
    <p class="answer">{{ entry_data.logRating }}</p>
  </div>
  </div>

  <div>
    <h4 class="answer-title">Description:</h4>
    <p class="answer">{{ entry_data.logDescription }}</p>
  </div>
  <a
    href='{{ url_for("dashboard") }}'
    title="Back to dashboard"
    class="button subtle"
    style="align-self: center; margin-top: 2rem;"
    >Back to dashboard</a
  >
</div>
{% endblock %}
