{% extends "base.html" %} {% block content %}
<form id="login-form" method="POST" action="/login" class="hero centered">
  <h2 class="underline">Log in</h2>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
  messages %}
  <p class="message success">{{ msg }}</p>
  {% endfor %} {% endif %} {% endwith %}
  <div class="input-section">
    <label for="username" class="label-auth"><img class="icon-auth" src="{{ url_for('static', filename='icons/user.svg') }}" alt="User Icon">Username</label
    ><input
      id="username"
      type="text"
      class="input"
      name="username"
      placeholder="Username"
      autocomplete="off"
    />
  </div>
  <div class="input-section">
    <label class="label-auth" for="password"><img class="icon-auth" src="{{ url_for('static', filename='icons/lock.svg') }}" alt="Password icon">Password</label
    ><input
      placeholder="Password"
      id="password"
      type="password"
      class="input"
      name="password"
      autocomplete="off"
    />
  </div>
  <button type="submit" class="button mt">Log in</button>
  <span class="small-text mt">or</span>
  <a href="/sign-up" class="button third">Sign up</a>
</form>

{% endblock %}
