/*RESETS*/

* {
  box-sizing: border-box;
}

:root {
  --white: #f5f6fa;
  --secondary: #7890bf;
  --dark: #1b2130;
  --light-dark: #192034;
  --accent: #f11262;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  height: 100%;
  font-family: "Nexa", serif;
  color: var(--white);
}

button {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Nexa", sans-serif;
  cursor: pointer;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 2.1rem;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}

a:visited {
  color: white;
  text-decoration: none;
}

.underline {
  position: relative;
  width: fit-content;
}

.underline:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 5px solid var(--accent);
  z-index: -1;
}

.background {
  background-color: #0d1426;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f5f6fa' fill-opacity='0.03'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.centered {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
}

.hero-text {
  color: var(--white);
  font-size: 4rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

#description {
  margin-bottom: 1rem;
  max-width: 400px;
  color: var(--secondary);
}

.button {
  background-color: var(--accent);
  padding: 1.3rem 3rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  border-radius: 9999px;
  font-weight: 700;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  transition: transform 0.3s;
}

.third {
  background: none;
}

.subtle {
  background-color: #1e2840;
  color: var(--secondary);
  border-radius: 6px;
}

.button:hover {
  transform: translateY(-3px);
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
  background: none;
  z-index: 1;
}

.small-text {
  color: var(--secondary);
  max-width: 30ch;
  font-size: 0.7rem;
}

.mt {
  margin-top: 1rem;
}

.input {
  border-radius: 8px;
  margin-top: 1rem;
  background: var(--light-dark);
  padding: 1rem;
  width: 100%;
  outline: none;
  transition: border-color 150ms;
  border: 1px transparent solid;
  color: var(--white);
  letter-spacing: 0.02rem;
}

.input:focus {
  border-color: var(--accent);
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3rem;
}

.header a {
  justify-self: flex-end;
}

.text-header {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.text-header > h2,
p {
  margin: 0rem;
}

.text-header h2 {
  margin-bottom: 0.5rem;
}

.width-wrapper {
  max-width: 1100px;
  padding: 8rem 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry {
  background-color: var(--light-dark);
  padding: 22px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-radius: 12px;
  margin-bottom: 0.8rem;
}

/*NEW ENTRY POP-UP*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: all 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.details-wrapper {
  width: 100%;
  max-width: 700px;
  display: flex;
  margin: 6rem auto 0;
  padding: 2rem 2rem 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.new-entry-wrapper {
  padding: 2rem 2rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #0d1426;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 75%;
  max-width: 700px;
  z-index: 101;
  flex-direction: column;
  border-radius: 16px;
}

.new-entry-wrapper h2 {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.new-entry-wrapper .third {
  margin-top: 0.5rem;
}

.card-title {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#feel-input {
  margin-right: 2rem;
}

.title-entry {
  width: 100%;
  background: none;
  color: var(--white);
  outline: none;
  font-family: "Nexa", sans-serif;
  font-size: 2.1rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  line-height: 2;
  font-weight: 600;
}

.title-entry::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #545d75;
  opacity: 1; /* Firefox */
}

.emoji-container {
  background-color: var(--light-dark);
  border-radius: 10px;
  padding: 8px;
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  font-size: 2rem;
  outline: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 3px;
  text-overflow: "";
  border: none;
}

.emoji-container:hover {
  cursor: pointer;
}

.text-area-section {
  max-width: none;
  width: 100%;
}

.text-area {
  resize: none;
  font-family: "Nexa", serif;
  line-height: 1.1rem;
  max-width: none;
}

.answer {
  padding: 1rem;
  background-color: var(--light-dark);
  border-radius: 12px;
}

.answer-title {
  color: var(--secondary)
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.no-entries {
  font-size: 1.2rem;
  background-color: var(--light-dark);
  color: var(--white);
  border-radius: 12px;
  padding: 1.3rem 2.7rem;
}

.message {
  padding: 16px 30px;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.success {
  background: #173220;
  color: #bdfec6;
  border: 2px solid #2c6435;
}

.error {
  background: #300106;
  border: 2px solid #560e13;
  color: #fc969a;
}

.logout {
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 9999px;
  line-height: 0;
  padding: 20px;
  background-color: #1e2840;
}

.label-auth {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.input-section .input::placeholder {
  color: var(--secondary);
}

.label-auth label {
  line-height: 0;
}

.icon-auth {
  margin-right: 0.4rem;
}

.entry-details {
  display: flex;
  flex-direction: row;
}

.emoji {
  margin-right: 1rem;
  font-size: 2.5rem;
}

.emoji-details {
  margin-right: 1rem;
  font-size: 2.5rem;
  background: var(--light-dark);
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 565px) {
  .logo {
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup {
    width: 100%;
  }

  .new-entry-wrapper {
    width: 100%;
  }

  .flex-horizontal {
    flex-direction: column;
  }

  #feel-input {
    margin-right: 0;
  }

  .input-section {
    max-width: none;
  }

  #login-form .input-section,
  #form .input-section {
    max-width: 350px;
    width: 80%;
  }

  .hero-text {
    font-size: 2.5rem;
  }

  #form {
    top: 55%;
  }

  /*.emoji {*/
  /*  display: none;*/
  /*}*/

  .button {
    padding: 1.3rem 2rem;
    max-width: none;
  }

  .header {
    flex-direction: column;
  }

  #new-entry-button {
    flex: none;
    width: 100%;
    max-width: none;
    margin-top: 1rem;
  }

  .entry .button {
    display: none;
  }

  #popup .button {
    width: 100%;
  }

  .logout {
    padding: 20px;
    right: 35px;
  }
}
