<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content = initial-scale=1>
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
  </head>
  <body class="background center">
    <a href="/" class="logo">
        <img src="{{ url_for('static',filename='images/logo.png') }}" alt="Calm logo" style="height: 50px;"/>
    </a>
    {% block content %}
    {% endblock %}
  </body>
</html>
