{% extends "base.html" %} {% block content %}
<!--NEW LOG POPUP-->
<form
  class="popup"
  id="popup"
  method="post"
  style="
    display: block;
    opacity: 0;
    transition: all 400ms ease-out;
    z-index: -9;
  "
>
  <div class="new-entry-wrapper">
    <h2 class="underline">New entry</h2>
    <div class="input-section">
      <label for="headline">Log headline</label>
      <input id="headline" type="text" class="input" autocomplete="off" />
    </div>

    <div class="input-section">
      <label for="feeling">How did you feel today?</label>
      <input id="feeling" type="text" class="input" autocomplete="off" />
    </div>

    <div class="input-section">
      <label for="description">Description (Optional)</label>
      <textarea
        id="description"
        class="input text-area"
        autocomplete="off"
        style="height: 200px"
      ></textarea>
    </div>

    <button type="submit" class="button mt">Submit</button>
    <button class="button third" onclick="closeNewEntryOverlay()">
      Cancel
    </button>
  </div>
</form>

<!----------------->
<div class="width-wrapper">
  <div class="header">
    <div class="text-header">
      <h2>Diary log</h2>
      <!--make this dynamic later-->
      <p style="color: var(--secondary)">3 entries</p>
    </div>
    <button onclick="logNewEntryAnimation()" class="button">+ New entry</button>
  </div>

  <div class="entry">
    <div>
      <p>Title of entry</p>
      <p style="color: var(--secondary)">13.04.2021</p>
    </div>
    <a href="/details" class="button subtle">Details</a>
  </div>

  <div class="entry">
    <div>
      <p>Title of entry</p>
      <p style="color: var(--secondary)">13.04.2021</p>
    </div>
    <a href="/details" class="button subtle">Details</a>
  </div>

  <div class="entry">
    <div>
      <p>Title of entry</p>
      <p style="color: var(--secondary)">13.04.2021</p>
    </div>
    <a href="/details" class="button subtle">Details</a>
  </div>
</div>

{% endblock %}
