{% extends "base.html" %} {% block content %}
<form id="form" class="hero centered" action="/sign_up" method="POST" >
  <h2 class="underline">Sign up</h2>

  <div class="input-section">
    <label for="username">Username</label
    ><input id="username" type="text" class="input" name="username" autocomplete="off" />
  </div>
  <div class="input-section">
    <label for="password">Password</label
    ><input id="password" type="password" class="input" name="password" autocomplete="off" />
  </div>
  <div class="input-section">
    <label for="password-repeat">Repeat Password</label
    ><input
      id="password-repeat"
      type="password"
      class="input"
      autocomplete="off"
    />
    <p class="small-text" style="text-align: left; margin-top: 1rem">
      Password should be at least 6 characters and contain at least one number
    </p>
  </div>
  <button type="submit" class="button mt">Sign Up</button>
  <span class="small-text mt">or</span>
  <a href="/login" class="button third">Log in</a>
</form>

{% endblock %}
