{% extends "base.html" %} {% block content %}
<div class="hero centered">
  <h2 class="underline">Sign up</h2>

  <div class="input-section">
    <label for="username">Username</label
    ><input id="username" type="text" class="input" autocomplete="off" />
  </div>
  <div class="input-section">
    <label for="password">Password</label
    ><input id="password" type="password" class="input" autocomplete="off" />
  </div>
  <div class="input-section">
    <label for="password-repeat">Repeat Password</label
    ><input
      id="password-repeat"
      type="password"
      class="input"
      autocomplete="off"
    />
    <p class="small-text" style="text-align: left">
      Password should be at least 6 characters and contain at least one number
    </p>
  </div>
  <a href="/dashboard" class="button mt">Sign Up</a>
  <span class="small-text mt">or</span>
  <a href="/login" class="button third">Log in</a>
</div>

{% endblock %}
